In [1]:
# 79
my_list = [100, 200, 400, 800, 1000, 1300]
print(abs(my_list[0]+my_list[1]+my_list[2])/3)
print(abs(my_list[1]+my_list[2]+my_list[3])/3)
print(abs(my_list[2]+my_list[3]+my_list[4])/3)
print(abs(my_list[3]+my_list[4]+my_list[5])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

# 마크 다운

In [4]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1,len(my_list)-1):
    print(abs(my_list[i-1]+my_list[i]+my_list[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [6]:
for i in range(0,len(my_list)-2):
    print(abs(my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [7]:
for i in range(2,len(my_list)):
    print(abs(my_list[i-2]+my_list[i-1]+my_list[i])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [10]:
# 80
volatility = []
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
volatility

[50, 100, 30, 80, 0]

In [14]:
# 81
# apart = ['101호','102호','201호','202호','301호','302호']
apart = [['101호','102호'],['201호','202호'],['301호','302호']]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [17]:
# 82
stock = [['시가',100,200,300],['종가',80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [16]:
# 83
stock = {'시가':[100,200,300],'종가':[80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [18]:
# 84
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [20]:
# 85
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [25]:
# 86
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [23]:
# 87
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [24]:
# 88
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,"호")
        print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [26]:
# 89
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,"호")
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [27]:
# 90
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,"호")
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [31]:
# 91
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [33]:
# 92
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column*1.00014)
    print('-'*10)

2000.28
3050.427
2050.2870000000003
1980.2772
----------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----------
15452.163
15052.107
15552.177
14902.086000000001
----------

In [34]:
# 93
result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        result.append(column*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [35]:
# 94
result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    sub=[]
    for column in line:
        sub.append(column*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [38]:
# 95
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [42]:
# 96
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] >= 150:
        print(row[3])

190
310

In [41]:
# 97
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [43]:
# 98
volatility = []
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [44]:
volatility = []
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [45]:
# 99

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10